<div class='post'>
    <div class='imagepart part' style='background-image: url("{{ url_for("static", filename="image/me.jpg") }}");'>
    </div>
    <div class='contentpart part'>
        <h2 class='title'>Sebastian Robert Karlsson</h2>
        <p>
        My name is Sebastian and I am a <i>very creative person</i>.
        </p>
        <p>
        This site used to share my work and ideas with the world.
        You can use the menu at the top of the site to navigate around.
        </p>
    </div>
</div>
