<div class='post'>
    <div class='imagepart part' style='background-image: url("{{ url_for("static", filename="image/by_roadwork.jpg") }}");'>
    </div>
    <div class='contentpart part'>
        <h2 class='title'>There is no such thing</h2>
        <p>Pommy ipsum narky gobsmacked ponce sod's law jolly good macca, manky that's ace got his end away chippy sling one's hook challenge you to a duel. Marvelous in the jacksy cup of tea for sooth a cracking what a load of guff well chuffed, slappers tad bargain Betty absolute bag egg's old boy. Up the duff up North Kate and Will flog a dead horse Prince Charles and thus red telephone box splendid a tenner Dalek, football a cuppa up the duff nicked down South earwig Union Jack jammy git. Know your onions is she 'avin a laugh wind up made a pig's ear of it, The Hounds of Baskerville off with her head.</p>
    </div>
</div>
